:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 39);
}

main {
  margin: 5%;
  height: 500px;
  max-width: 90%;
  
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}